*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

/* class .container pada akhirnya tidak dipake */
/* .container {} */

/* untuk div karena kita sudah bikin class, maka yang dipanggil adalah class-nya, dengan cara menambahkan titik sebelum nama class */
.container-navbar {
    background-color: rgb(1, 1, 59);
    width: 100%;
    height: 100px;
    font-weight: 800;
}

.ul-navbar {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin:5px;
    color: white;
    font-size: 30px;
}

/* Membuat effect ketika kita melakukan hoover ke suatu navbar */
.li-navbar:hover{
    background-color: blue;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 8px;
}

.a-navbar {
    color: white;
    text-decoration: none;
}

.container-content {
    background-color: rgb(219, 255, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Perintah dibawah ini terkait height adalah supaya jika web kita dibuka di ipad atau smartphone maka ukuran web juga akan mengikuti (pakai 100vh)*/
    height: 80vh;
    font-size: 20px;
}

.bugatti-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.img-content {
    width: 600;
    height: 300;
    border-radius: 80px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    /* Sumber box shadow dst ada di  */
}

.container-footer {
    height: 10vh;
    background-color: rgb(1, 1, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 30px;
    color: white;
}

#biodata {
    background: rgb(12, 255, 206);
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar = 10 vh, content = 80 vh, footer = 10 vh maka hasilnya 100 vh/satu layar */

/* Class identik dengan titik ".", sedangkan ID identik dengan pagar "#" */